
form{
      padding-left: 10px;    
	width: 30%;
    margin: 150px auto;
    box-shadow: 0 0 10px 2px #000;
}

input{

	 margin: 10px;
}

h1{
	text-align: center;
}
label{
	font-size: 15px;
}
a{
	font-size: 20px;
	margin-left: 10px;
 
}