   *{
            margin: 0;
            outline: none;
            box-sizing: border-box;
            
        }        
        .main{
            font-family: Space Grotesk;
            background-color: #1E1F31;
            overflow-x: hidden;
        }

      
       
        .navbar{
            position: relative;
            height: 100vh;
/*            overflow: hidden;*/
        }
        header{
            padding: 50px 100px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        header ul li{
            list-style: none;
            display: inline-block;
            margin: 0 15px;
        }
        header ul li a{
            color: #aba9b4;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 1px;
            transition: all ease 0.5s;
        }
        header ul li a:hover{
            color: #f09053;
        }
        header ul li a.btn{
            display: inline-block;
            width: 180px;
            height: 60px;
            line-height: 60px;
            background-color: #f09053;
            color: #fff;
            text-align: center;
            font-size: 18px;
            border-radius: 50px;
            transition: all ease 0.5s;
        }
        header ul li a.btn:hover{
            background-color: #615c59;
        }

       
      
        ul ul{
            max-width: 250px;
            position: absolute;
            padding: 10px 0;
            opacity: 0;
            z-index: -9999;
            transition: all ease 0.5s;
        }
        ul li:hover ul{
            opacity: 1;
            z-index: 9;
            padding: 30px 0;
        }
        ul ul li{
            margin: 0;
            width: 100%;
        }
        ul ul li a{
            width: 100%;
            display: inline-block;
            padding: 20px;
            background-color: #383a58;
            color: #fff;
        }
        ul ul li:first-child a{
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        ul ul li:last-child a{
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        ul ul li a:hover{
            background-color: #f09053;
            color: #fff;
        }
/* ------------------------------------header end ----------------------------------------------- */
/* ------------------------------------ body start ----------------------------------------------- */
 
/* --------------------------------------home page start ------------------------------------------*/

        .content{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 50px 100px ;
        }
        .text{
            width: 50%;
            padding-right: 150px;
        }
        .text p{
            font-size: 28px;
            line-height: 46px;
            color: #fff;
        }
        .text p span{
            color: #f09053;
        }
        .text a{
            position: relative;
            display: inline-block;
            font-size: 18px;
            text-transform: uppercase;
            color: #fff;
            text-decoration: none;
            padding: 18px 30px;
            letter-spacing: 2px;
            font-weight: 500;
            margin-top: 60px;
            z-index: 1;
        }
        .text a:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 60px;
            height: 60px;
            border-radius: 50px;
            background-color: #f09053;
            z-index: -1;
            transition: all  ease 0.7s;
        }
        .text a:hover:before{
            width: 100%;

        }

        .img{
            position: relative;
            width: 500px;
            height: 500px;
            background: radial-gradient(520px, #f08f538c, transparent 50%);
            margin-top: -50px;
        }
        .email-icon{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .social-icons{
            height: 100%;
            animation: rotation 60s linear infinite;
        }
        @keyframes rotation {
            100%{
                transform: rotate(360deg);
            }
        }
        .social-icons img{
            position: absolute;
        }
        .social-icons img:nth-child(1){
            top: 0;
            left: 42%;
        }
        .social-icons img:nth-child(2){
            top: 25%;
            right: 0;
        }
        .social-icons img:nth-child(3){
            top: 70%;
            left: 70%;
        }
        .social-icons img:nth-child(4){
            top: 25%;
            left: 0;
        }
        .social-icons img:nth-child(5){
            top: 70%;
            left: 10%;
        }

   .wave{
      position: absolute;
      top: 100vh;
      left: 0;
      width: 100%;
      line-height: 0;
   }
   .wave:before{

       content:'';
       position: absolute;
       bottom: 0px;
       left: 0;
       width: 100%;
       height: 100%;
       background: url(images/wave.svg) repeat-x;
  
        background-size: cover;
        background-position: -1000px 0;
        opacity: .2;
        animation: wave 60s linear infinite;

     }
    @keyframes wave{
             50%{
                background-position: 0 0 ;
             }
         }

.wave:after{
       content:'';
       position: absolute;
       bottom: 0px;
       left: 0;
       width: 100%;
       height: 100%;
       background: url(images/wave.svg) repeat-x;
  
        background-size: cover;
        background-position: 2732px 0;
        opacity: .3;
        animation: wave 120s linear infinite;

     }
/*--------------------------------- home page end ------------------------     */

/* ---------------------------------- about main  -------------------------------- */
  
.aboutmain{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background: #ebe5e5b0;
}
 

.aboutus{
     width: 45%;
/*     height: 500px;*/
     display: inline-block;
/*     border: 2px solid ;*/
     padding: 10px;
     font-size: 20px;

}
#aboutMT{
    font-size: 20px;
    font-weight: 600;
}

.videotitle{

     background: white ;
     width: 90%;
     height: 50px;
     text-align: center;
/*     box-shadow: 0 0 10px 2px #000;*/
     margin: 10px;
     margin-left: 5vh;
     padding: 15px;
}

  .video{
    margin: 10px 0;
    width: 45%;
    height: 500px;
    display: inline-block;
/*      border: 2px solid ;*/

    
  }


/* ----------------------------------course page start --------------------------- */

.titleName{

     width: 90%;
     height: 50px;
     text-align: center;
/*     box-shadow: 0 0 10px 2px #000;*/
     margin: 10px;
     margin-left: 10vh;
     padding: 15px;
   
}

.courseName h1{
/*      font-size: 20px;*/
     font-weight: 900px;
     margin: 10px;
}

        
.CourseMain{
/*      border: 2px solid red;*/
/*      height: 400px;*/
      width: 100%;
       background-color: #ebdfdf78;
/*       background-image: url(https://cdn.corporatefinanceinstitute.com/assets/marketing-1024x594.jpeg);*/
      background-size: cover;
      margin-top: 20px;
      margin-bottom: 20px;
}
  .course{
    width: 32%;
/*    height: 300px;*/
    border: 2px solid #f5cd0c;
    display: inline-block;
    margin: 7px;
    background: #ffffffa3;
  }
   
   .courseHeadeing{
       width: 49%;
/*       height: 49%;*/
/*       border: 1px solid red;*/
       display: inline-block;
       padding: 2px;
   }
   .courseHeadeing h1{
         font-size: 20px;
         margin: 10px;
         margin-bottom: 30px;
/*        text-shadow: 2px 2px 10px 2px orange;*/

   }
   .courseHeadeing p{
       font-size: 17px;
       font-weight: 400;
       margin-left: 5px;
   }


    .courseHeadeing img{
        width: 100%;
/*        height: ;*/
    }

 .courcePrice{
     width: 100%;
     height: 40px;
     margin-top: 5px;
/*     border: 2px solid red;*/
     padding: 5px;
/*     margin: 10px;*/
 }


  .courcePrice p:before{
       color: yellow;
       font-size: 50px;
       font-weight: 600;
       height: 20px;
       line-height: 20px;
       text-align: justify;
  }
  
   .courcePrice p span{
         font-size: 20px;
         font-weight: 600;
         margin-left:10px ;
   }

    .course .anchor{
        text-align: center;
    }

  .course .anchor a{
        text-decoration: none;
        display: block;
        border: 2px solid orange;
        width: 90%;
        margin: 10px;
        margin-left: 3vh;
        padding: 5px;
        border-radius: 20px;
        color: black;
        font-weight: 600;
        

  } 




/*  ------------------------------------------- body end  ----------------------------------------- */

/* ------------------------------------------ footer start ----------------------------------------*/

footer{


   width: 100%;
/*   height:  450px;*/
   background: black ;
/*   margin-top:0px;*/
background-image: url(https://img.freepik.com/premium-photo/city-skyline-night-downtown-generated-ai_34683-3589.jpg);
background-repeat: no-repeat;
background-size: cover;
padding-top: 50px;


}

footer .footerInfo{
    display: flex;
    justify-content: space-evenly;
    

}

.footerInfo div{
/*     border: 2px solid red;*/
     height: 400px;
     width: 24%;
    color: white;
     padding: 30px 10px 10px ;
/*     text-align: center ;*/
}
/*------------------------ info -------------------------*/

.info img{

      width: 50%;
      margin: 0 0 0 15px;
}
 .info p{
       padding: 10px;
       font-size: 20px;
 } 

/*-------------------------- icon -----------------------*/
.icons{
    font-size: 25px;
    font-weight: 500px;
    
     margin: 10px;
     transform: translate(2px 2px);
     padding: 10px;
     border-radius: 50%;
     color: white;
     background: radial-gradient( 100px, white,transparent 100%);

    }
/*.icons:hover{
    color: orange;

     background: radial-gradient(100px , #7a5858, transparent 50%);
}
*/





/*  --------------------- support  -------------------- */
/*  ---------------------  help by akash sir  -------------------- */
 
 /*.support h1, .link h1 {
      padding-left: 50px;

 }



 .support ul, .link ul{
     margin-top: 40px;
     padding-left: 50px;
 }
 .support ul li, .link ul li{
     list-style-type: none;
     margin: 10px;
   }

 .support li a, .link li a{ 
    font-size: 20px;
    text-decoration: none;
      color: white;

 }*/

/*-------------------------support & link & policy -------------------------- */
 
  .footerInfo{

  }

 .footerInfo h1{
        margin-left: 50px;
 }
 .footerInfo ul{
     margin-top: 50px;
     padding-left: 50px;
 }
 .footerInfo ul li{
     list-style-type: none;
     margin: 10px;
   }

 .footerInfo ul li a{ 
    font-size: 20px;
    text-decoration: none;
      color: white;
  }

/*----------------------- madeIn --------------------------*/

.madeIn{

      width: 100%;
/*      height: 50px;*/
      background-color: black;
      text-align: center;
/*      padding: 10px;*/
      font-size: 20px;
      color: white;
      margin-top: 10px;
      padding-bottom: 10px;

}
.madeIn h3{
/*      margin: 10px;*/
}


/* -------------------  rights   ----------------------------------------- */

 footer .footerReserved{
/*       background-color: white;*/
/*       height: 100px;*/
       width: 100%;
       height: 30px;

}

 footer .footerReserved h1{
      text-align: center;
      color: white;
      margin-top: 20px;
 }

/*---------------------------footer end ----------------------- */
